.category {
  display: flex;
}

.category-container {
  padding: 20px;
  width: 100%;
}
.category-container h1 {
  font-size: 40px;
}
.category-btns {
  display: flex;
  justify-content: end;
}
.category-table {
  margin-top: 40px;
}
.delete {
  color: rgb(25, 25, 43);
  cursor: pointer;
}
